//変数宣言
:root {

	// 色
	--base-white: white;
	--base-black: #333;
	--base-transparent-black: rgba(0, 0, 0, 0.5);
	--base-blue: blue;

	--main-font-color: var(--base-black);

	--sub-bg-color: var(--base-blue);
	--sub-font-color: var(--base-white);

	//ヘッダ
	--header-bg-color: var(--sub-bg-color);
	--header-font-color: var(--sub-font-color);
	--header-height: 64px;

	//フッタ
	--footer-bg-color: var(--sub-bg-color);
	--footer-font-color: var(--sub-font-color);
	--footer-height: 100px;

	//メニュー
	--menu-floor-bg-color: var(--base-transparent-black);
	--menu-bg-color: var(--base-white);
	--menu-width: 60%;
	--menu-left-hidden: calc(var(--menu-width) * -1);
	--menu-left-shown: 0;
	--menu-duration: .25s;
}

// ノーマライズ
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 10px 0;
}

body {
	color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	padding-left: 8px;
}

h1:before {
	content: '# ';
}

// レイアウト
html,
body,
#wrapper {
	height: 100%;
}

#header {
	color: var(--header-font-color);
	background-color: var(--header-bg-color);
	height: var(--header-height);
}

#footer {
	color: var(--footer-font-color);
	background-color: var(--footer-bg-color);
	height: var(--footer-height);
}

#body {
	overflow: hidden;
	height: calc(100% - var(--footer-height) - var(--header-height));

}

.slide-wrapper {
	display: flex;
	position: relative;
	height: 100%;
}

.win1-stay .slide-wrapper {
	left: 0;
}

.win2-stay .slide-wrapper {
	left: -100%;
}

.win3-stay .slide-wrapper {
	left: -200%;
}

.win1-show .slide-wrapper {
	animation: .25s forwards win1-show;

	@keyframes win1-show {
		to {
			left: 0;
		}
	}
}

.win2-show .slide-wrapper {
	animation: .25s forwards win2-show;

	@keyframes win2-show {
		to {
			left: -100%;
		}
	}
}

.win3-show .slide-wrapper {
	animation: .25s forwards win3-show;

	@keyframes win3-show {
		to {
			left: -200%;
		}
	}
}

.slide-window {
	min-width: 100%;
	overflow-y: scroll;
}

// メニュー
#menu-floor {
	display: none;
}

.menu-show #menu-floor {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--menu-floor-bg-color);
}

#menu {
	background-color: var(--menu-bg-color);
	position: fixed;
	top: 0;
	bottom: 0;
	width: var(--menu-width);
	left: var(--menu-left-hidden);
}

.menu-hide #menu {
	animation: var(--menu-duration) forwards menu-hide;
}

.menu-show #menu {
	animation: var(--menu-duration) forwards menu-show;
}

@keyframes menu-show {
	to {
		left: var(--menu-left-shown);
	}
}

@keyframes menu-hide {
	from {
		left: var(--menu-left-shown);
	}

	to {
		left: var(--menu-left-hidden)
	}
}