.mybreak {

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 5em;
	}
	
	.container>.a::after {
		content: "aaaaaaaaaaaaaaaaaaaaaa bbbbbb bbbbbb bbbbbbbbbb ccccc-ccccc-ccccc ddddddddddd";
	}
	
	.container>* {
		max-width: 110px;
		max-height: 20em;
		border: dotted 1px black;
	}
	
	.a1 {
		&::before {
			content: "a1 overflow-wrap: anywhere;";
		}
		overflow-wrap: anywhere;
		/* 単語破壊。全て破壊。文字１つ１つが独立して並んでいると解釈する。文字を単語という塊で解釈しない。 */
	}
	
	.a1-m {
		&::before {
			content: "a1-m overflow-wrap: anywhere; width: min-content;";
		}
		overflow-wrap: anywhere;
		width: min-content;
		/* 単語破壊しているので幅は文字１つ分になる */
		max-width: none;
	}
	
	
	.a2 {
		&::before {
			content: "a2 overflow-wrap: break-word;"
		}
		overflow-wrap: break-word;
		/* 単語が単独で幅を超過するときは、その単語を破壊してもよい */
	}
	
	.a2-m {
		&::before {
			content: "a2-m overflow-wrap: break-word; width: min-content;"
		}
		overflow-wrap: break-word;
		width: min-content;
		/* 単語破壊していても、幅は１文字ではなく単語の幅が用いられる */
		max-width: none;
	}
	
	.a3 {
		&::before {
			content: "a3 word-break: break-all;"
		}
		word-break: break-all;
		/* 単語破壊。全て破壊。文字１つ１つが独立して並んでいると解釈する。文字を単語という塊で解釈しない。 */
	}
	
	.a4 {
		&::before {
			content: "a4 width: min-content";
		}
		max-width: none;
		width: min-content;
	}
	
}
