.myswiper {
	$padding-article: 20px;
	$width-button: 50px;

	.container-article {
		padding-left: $padding-article;
		padding-right: $padding-article;
		max-width: 600px;
		margin: auto;
		@media (min-width:900px){
			max-width: 900px;
		}
	}

	.container-swiper {
		position: relative;
		@media (min-width:600px){
			padding-left: $padding-article;
			padding-right: $padding-article;
			max-width: 600px;
			margin: auto;
		}
		@media (min-width:900px){
			max-width: 900px;
		}
	}

	.swiper-slide {

		&:nth-child(even) {
			background-color: aqua;
		}

		&:nth-child(odd) {
			background-color: peru;
		}
	}

	.swiper {
		height: 100px;
		padding-left: $padding-article;
		padding-right: $padding-article;
		@media (min-width:600px){
			padding-left: 0;
			padding-right: 0;
		}
		@media (min-width:900px){
			width: calc(100% - 60px);
		}
	}

	.swiper-button {
		display: none;
		@media (min-width:900px){
			display: block;
		}
	}
}