@charset "utf8";

// importはcssにも存在する。sassは非推奨に。useを使う。
// @import "base";

@use "base";

h1 {
	color: gray;
	margin: 20px auto;
}

.wrapper {
	padding: 0 20px;
	>:nth-child(even){
		background-color: aquamarine;
	}
	>:nth-child(odd){
		background-color: wheat;
	}
	.container {
		
	}
}
